.navbar-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.logo {
  padding-right: 1rem;
  text-align: center;
  align-self: center;
}